.sec-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    gap: 50px;
    margin-bottom: 100px;
    padding-top: 50px;
}
.sec-4-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-4-1 >:nth-child(1){
    font-weight: 600;
}
.sec-4-2{
    display: flex;
    gap: 50px;
}
.box3{
    border: 2px solid black;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    gap: 15px;
}
.box3 img{
    width: 300px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box-3-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.box-3-1 > :nth-child(1){
    font-size: 22px;
    font-weight: 600;
}
@media(max-width:1024px) {
    .sec-4{
        height: 100%;
    }
    .sec-4-2{
        flex-direction: column;
        padding-bottom: 100px;
    }
    .box3{
        width: 500px;
        gap: 20px;
    }
    .box3 img{
        width: 400px;
    }
    .box-3-2 > :nth-child(1){
        font-size: 30px;
    }

}
@media(max-width:767px) {
    .sec-4-1{
        padding-top: 200px;
    }
    .box3{
        width: 300px;
        gap: 15px;
    }
    .box3 img{
        width: 250px;
    }
    .box-3-2 > :nth-child(1){
        font-size: 20px;
    }

}