.sec-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    height : 80vh;
    padding-top: 100px;
    gap: 100px;
    margin-bottom: 100px;
    padding-top: 50px;
}
.sec-3-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    font-weight: 600;
}
.sec-3-2{
    display: flex;
    gap: 50px;
}
.box-2{
    border: 2px solid black;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    gap: 15px;
}
.box-2 > :nth-child(1) {
    font-size: 24px;
    font-weight: 600;
}
.skills{
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
}
.skill-1{
    display: flex;
    align-items: start;
    gap: 10px;
}
.skill-1-2{
    display: flex;
    flex-direction: column;
}
.skill-1 img{
    width: 30px;
}
.skill-1-2 >:nth-child(1){
    font-weight: 600;
}

@media(max-width: 1024px) {
    .sec-3-2{
    flex-direction: column;
    height: 100%;
    }
    .sec-3{
        padding-bottom: 70px;
        gap: 50px;
    }
    .box-2{
        width: 500px;
        gap: 1px;
    }
    .box-2 > :nth-child(1) {
        font-size: 28px;
    }
    .skills{
        gap: 50px;
    }
    .skill-1{
        gap: 15px;
    }
    .skill-1-2{
        display: flex;
        flex-direction: column;
    }
    .skill-1 img{
        width: 35px;
    }
    .skill-1-2 >:nth-child(1){
        font-size: 23px;
    }
}
@media(max-width: 767px) {
    .sec-3-2{
    flex-direction: column;
    padding-bottom: 0px;
    }
    .sec-3{
       padding-top: 0px;
    }
    .box-2{
        width: 300px;
        gap: 25px;
    }
    .box-2 > :nth-child(1) {
        font-size: 18px;
    }
    .skills{
        gap: 25px;
    }
    .skill-1{
        gap: 10px;
    }
    .skill-1-2{
        display: flex;
        flex-direction: column;
    }
    .skill-1 img{
        width: 30px;
    }
    .skill-1-2 >:nth-child(1){
        font-size: 18px;
    }
}

