.sec-6{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.sec-6 >:nth-child(2){
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 14px;
}
@media(max-width:767px){
    .sec-6 >:nth-child(1){
    gap: 30px;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    }
    .sec-6 >:nth-child(2){
    font-size: 10px;
    }
}
